{% import "_includes/forms" as forms %}

<h1>General</h1>

{% if not craft.social.vendorPopulated %}
    <div class="error">
        <strong>You need to upload your composer dependencies.</strong><br />
        If you're seeing this message, it's because Social couldn't find the vendor/autoload.php file.
        <br />You need to run <strong>composer install</strong> and upload all of the vendor directory to get
        this plugin to work properly.
    </div>
{% endif %}

<p>
    These are general settings that control how Social behaves.
</p>

{{ forms.textField({
    first:        true,
    label:        "Cache Expiration"|t,
    id:           'social_cache_expiration',
    name:         'social_cache_expiration',
    instructions: "How long to cache tweets in seconds (Default: 1200)"|t,
    value:        settings.social_cache_expiration,
    autofocus:    true,
    errors:       settings.getErrors('social_cache_expiration')
}) }}

<h1>Twitter</h1>

<p>
    The following settings are required for Twitter.
</p>

{{ forms.textField({
    first:        true,
    label:        "Twitter Screen Name"|t,
    id:           'twitter_screen_name',
    name:         'twitter_screen_name',
    instructions: "The Twitter screen name we should pull tweets from."|t,
    value:        settings.twitter_screen_name,
    autofocus:    true,
    errors:       settings.getErrors('twitter_screen_name')
}) }}

{{ forms.textField({
    first:        true,
    label:        "Twitter Consumer Key"|t,
    id:           'twitter_consumer_key',
    name:         'twitter_consumer_key',
    instructions: "Twitter Consumer Key the Twitter Application API."|t,
    value:        settings.twitter_consumer_key,
    autofocus:    true,
    errors:       settings.getErrors('twitter_consumer_key')
}) }}

{{ forms.textField({
    first:        true,
    label:        "Twitter Consumer Secret"|t,
    id:           'twitter_consumer_secret',
    name:         'twitter_consumer_secret',
    instructions: "Twitter Consumer Secret the Twitter Application API."|t,
    value:        settings.twitter_consumer_secret,
    autofocus:    true,
    errors:       settings.getErrors('twitter_consumer_secret')
}) }}

<h2>Example:</h2>

{% for post in craft.social.posts({ network: 'Twitter', limit: 2 }) %}
    <hr />
    <div>
        <cite>
            {{ post.author }} posted
            at <a href="{{ post.link }}">{{ post.created|date('F j, Y') }} ({{ post.relative }})</a>:
        </cite>

        {% if post.picture %}
            <div>
                <img src="{{ post.picture }}" alt="" />
            </div>
        {% endif %}

        <blockquote>{{ post.message }}</blockquote>
    </div>
{% endfor %}
<hr />

<h1>Facebook</h1>

<p>
    The following settings are required for Facebook.
</p>

{{ forms.textField({
    first:        true,
    label:        "Facebook User ID"|t,
    id:           'facebook_user_id',
    name:         'facebook_user_id',
    instructions: "This is a unique ID that identifies the current user. To get, go to http://graph.facebook.com/PROFILE."|t,
    value:        settings.facebook_user_id,
    autofocus:    true,
    errors:       settings.getErrors('facebook_user_id')
}) }}

{{ forms.textField({
    first:        true,
    label:        "Facebook App ID"|t,
    id:           'facebook_app_id',
    name:         'facebook_app_id',
    instructions: "The Facebook App ID is unique and generated when you create an app in Facebook's Developer interface."|t,
    value:        settings.facebook_app_id,
    autofocus:    true,
    errors:       settings.getErrors('facebook_app_id')
}) }}

{{ forms.textField({
    first:        true,
    label:        "Facebook App Secret"|t,
    id:           'facebook_app_secret',
    name:         'facebook_app_secret',
    instructions: "The Facebook App Secret is unique and tied to a Facebook App ID."|t,
    value:        settings.facebook_app_secret,
    autofocus:    true,
    errors:       settings.getErrors('facebook_app_secret')
}) }}

<h2>Example:</h2>

{% for post in craft.social.posts({ network: 'Facebook', limit: 2 }) %}
    <hr />
    <div>
        <cite>
            {{ post.author }} posted
            at <a href="{{ post.link }}">{{ post.created|date('F j, Y') }} ({{ post.relative }})</a>:
        </cite>

        {% if post.picture %}
            <div>
                <img src="{{ post.picture }}" alt="" />
            </div>
        {% endif %}

        <blockquote>{{ post.message }}</blockquote>
    </div>
{% endfor %}
<hr />

<h1>Instagram</h1>

<p>
    Instagram requires an access token and user ID.
</p>

{{ forms.textField({
    first:        true,
    label:        "Instagram Access Token"|t,
    id:           'instagram_access_token',
    name:         'instagram_access_token',
    instructions: "The Instagram Access Token is unique and tied to a Instagram account."|t,
    value:        settings.instagram_access_token,
    autofocus:    true,
    errors:       settings.getErrors('instagram_access_token')
}) }}

{{ forms.textField({
    first:        true,
    label:        "Instagram User ID"|t,
    id:           'instagram_user_id',
    name:         'instagram_user_id',
    instructions: "The Instagram User ID is unique and tied to a Instagram account."|t,
    value:        settings.instagram_user_id,
    autofocus:    true,
    errors:       settings.getErrors('instagram_user_id')
}) }}

<h2>Example:</h2>

{% for post in craft.social.posts({ network: 'Instagram', limit: 2 }) %}
    <hr />
    <div>
        <cite>
            {{ post.author }} posted
            at <a href="{{ post.link }}">{{ post.created|date('F j, Y') }} ({{ post.relative }})</a>:
        </cite>

        {% if post.picture %}
            <div>
                <img src="{{ post.picture }}" alt="" />
            </div>
        {% endif %}

        <blockquote>{{ post.message }}</blockquote>
    </div>
{% endfor %}

<h1>WordPress</h1>

<p>
    For WordPress, we can pull in recent items from a single RSS feed.
</p>

{{ forms.textField({
    first:        true,
    label:        "WordPress RSS Feed URL"|t,
    id:           'wordpress_rss_feed',
    name:         'wordpress_rss_feed',
    instructions: "The URL of a WordPress RSS feed."|t,
    value:        settings.wordpress_rss_feed,
    autofocus:    true,
    errors:       settings.getErrors('wordpress_rss_feed')
}) }}

<h2>Example:</h2>

{% for post in craft.social.posts({ network: 'WordPress', limit: 2 }) %}
    <hr />
    <div>
        <cite>
            {{ post.author }} posted
            at <a href="{{ post.link }}">{{ post.created|date('F j, Y') }} ({{ post.relative }})</a>:
        </cite>

        {% if post.title is defined %}
            <h4>{{ post.title }}</h4>
        {% endif %}

        {% if post.picture %}
            <div>
                <img src="{{ post.picture }}" alt="" />
            </div>
        {% endif %}

        <blockquote>{{ post.message }}</blockquote>
    </div>
{% endfor %}
